<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        tools:targetApi="tiramisu"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:allowBackup="false"
        tools:ignore="DataExtractionRules">
        <activity
            android:name="dev.aaa1115910.bv.activities.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.BV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>