<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".BVApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.BV"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".activities.search.SearchResultActivity"
            android:exported="false"
            android:label="@string/title_activity_search_result"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.search.SearchInputActivity"
            android:exported="false"
            android:label="@string/title_activity_search_input"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.user.FollowActivity"
            android:exported="false"
            android:label="@string/title_activity_follow"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.video.SeasonInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_season_info"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.settings.SpeedTestActivity"
            android:exported="false"
            android:label="@string/title_activity_speed_test"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.user.FavoriteActivity"
            android:exported="false"
            android:label="@string/title_activity_favorite"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.video.VideoPlayerActivity"
            android:exported="false"
            android:label="@string/title_activity_video_player"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.video.UpInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_up_info"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.user.HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.user.UserInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_user_info"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.user.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.video.VideoInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_video_info"
            android:theme="@style/Theme.BV" />
        <activity
            android:name=".activities.MainActivity"
            android:banner="@drawable/ic_banner"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BV.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>