/shelf/
/workspace.xml
/deploymentTargetDropDown.xml
/gradle.xml
/caches
/libraries
/modules.xml
/navEditor.xml
/assetWizardSettings.xml
/misc.xml
/compiler.xml
/inspectionProfiles/Project_Default.xml
/CamelCaseConfigNew.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
